/* form{
    height: 120vh;
    background-image: url("/public/images/contactus.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  }; */

  .contact {
    background: url('/public/images/contactus.mp4');
    height: 100%;
    width: 100%;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
  };
  
  
  