.contact {
    background: url('/public/images/contactus.mp4');
    height: 100vh;
    width: 100%;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
};
  
  
  